body{
    margin:0;
    padding:0;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    z-index:999;
}
.nav_home{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 50px;
}
.nav_home li{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}
.nav_home li a{
    color:#16425B;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_home li a:hover{
    color:#16425B;
    border-bottom:2px solid #16425B;
    transition: 0.3s;
}
.nav_login{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 20px;
}
.nav_login li{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color:black;
}
.nav_login li:last-child{
    margin-right: 10rem;    
}
.nav_login li:first-child{
    margin-right: 2rem;
}
.nav_login li:first-child a{
    color:white;
    background-color: #16425B;
    padding: 10px;
    border-radius: 5px;
    border:2px solid #16425B;
    transition: 0.3s;
}
.nav_login li:first-child a:hover{
    color:#16425B;
    background-color: white;
    border:2px solid #16425B;
    transition: 0.3s;
}
.nav_login li:last-child a{
    color:#16425B;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_login li:last-child a:hover{
    color:#16425B;
    border-bottom:2px solid #16425B;
    transition: 0.3s;
}
.nav_logout li:last-child {
    list-style: none;
}
.nav_logout li:last-child a{
    color:white;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_logout li:last-child a:hover{
    color:#16425B;
    border-bottom:2px solid #16425B;
    transition: 0.3s;
}
a{
    text-decoration: none;
    
}
.material-symbols-outlined {
    font-size: 50px !important;
}
.headerbck{
    height: 700px;
    background-image:
    linear-gradient(360deg, rgba(0,0,0,0.6449930313922444) 0%, rgba(0,0,0,0.30885857761073177) 36%, rgba(0,0,0,0.07076333951549374) 100%),
    url("../images/bckheader.png");
    background-size: cover;
}
/* .title{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    color: white;
    font-family: 'Slabo 27px', serif;
    padding-top: 25px;
    padding-top: 70px;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
} */

/* animation text */

  .content {
    width:244px;
    font-size:36px;
    line-height:40px;
    font-family:'Muli';
    color:#ecf0f1;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-15px;
    margin-left:-118px;
    
    &:before {
      content:'[';
      position:absolute;
      left:-30px;
      line-height:40px;
    }
    &:after {
      content:']';
      position:absolute;
      right:-75px;
      line-height:40px;
    }
    &:after, &:before {
      color:#16a085;
      font-size:60px;
      animation:4s linear 0s normal none infinite opacity;
      -webkit-animation:4s ease-out 0s normal none infinite opacity;
      -moz-animation:4s ease-out 0s normal none infinite opacity;
      -o-animation:4s ease-out 0s normal none infinite opacity;
    }
  }
  
  .visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:40px;   
  }
  
  p {
    display:inline;
    float:left;
    margin:0;
  }
  
  .ul {
    margin-top:0;
    padding-left:110px;
    text-align:left;
    list-style:none;
    animation:6s linear 0s normal none infinite change;
    -webkit-animation:6s linear 0s normal none infinite change;
    -moz-animation:6s linear 0s normal none infinite change;
    -o-animation:6s linear 0s normal none infinite change;
  }
  
  .ul li {
    line-height:40px;
    margin:0;
  }
  
  @-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  @keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
  }
  @keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
  }

  /* Login form */
  .bck_login{
    background-color: #16425B;
    width: 100%;
    height: 500px;
  }
  .form_login{
    position: absolute;
    top:30%;
    left:40%;
    border: 2px solid #16425B;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
  }
  #username_login_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #password_login_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  #submit_login{
    width:100%;
    background-color: #16425B;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size:20px;
  }
  #submit_login:hover{
    background-color: white;
    color:#16425B;
  }