body{
    margin:0;
    padding:0;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    z-index:999;
    border-bottom: 2px solid #16425B;
}
.nav_home{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 50px;
}
.nav_home li{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}
.nav_home li a{
    color:#16425B;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_home li a:hover{
    color:#16425B;
    border-bottom:2px solid #FF6F59;
    border-top:2px solid #FF6F59;
    transition: 0.3s;
}
.nav_login{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 20px;
}
.nav_login li{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color:black;
}
.nav_login li:last-child{
    margin-right: 10rem;    
}
.nav_login li:first-child{
    margin-right: 2rem;
}
.nav_login li:first-child a{
    color:white;
    background-color: #16425B;
    padding: 10px;
    border-radius: 5px;
    border:2px solid #16425B;
    transition: 0.3s;
}
.nav_login li:first-child a:hover{
    color:#FF6F59;
    background-color: white;
    border:2px solid #FF6F59;
    transition: 0.3s;
}
.nav_login li:last-child a{
    color:#16425B;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_login li:last-child a:hover{
    color:#16425B;
    border-bottom:2px solid #FF6F59;
    transition: 0.3s;
}
.nav_logout li:last-child {
    list-style: none;
}
.nav_logout li:last-child a{
    color:white;
    border-bottom:2px solid transparent;
    transition: 0.3s;
}
.nav_logout li:last-child a:hover{
    color:#FF6F59;
    border-bottom:2px solid #FF6F59;
    transition: 0.3s;
}
a{
    text-decoration: none;
    
}
.material-symbols-outlined {
    font-size: 50px !important;
}
.headerbck{
    height: 700px;
    background-image:
    linear-gradient(360deg, rgba(0,0,0,0.6449930313922444) 0%, rgba(0,0,0,0.30885857761073177) 36%, rgba(0,0,0,0.07076333951549374) 100%),
    url("../images/bckheader.png");
    background-size: cover;
    position: relative;
}
/* .title{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    color: white;
    font-family: 'Slabo 27px', serif;
    padding-top: 25px;
    padding-top: 70px;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
} */

/* animation text */

  .content {
    width:244px;
    font-size:36px;
    line-height:40px;
    font-family:'Muli';
    color:#ecf0f1;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-15px;
    margin-left:-118px;
    
    &:before {
      content:'[';
      position:absolute;
      left:-30px;
      line-height:40px;
    }
    &:after {
      content:']';
      position:absolute;
      right:-75px;
      line-height:40px;
    }
    &:after, &:before {
      color:#16a085;
      font-size:60px;
      animation:4s linear 0s normal none infinite opacity;
      -webkit-animation:4s ease-out 0s normal none infinite opacity;
      -moz-animation:4s ease-out 0s normal none infinite opacity;
      -o-animation:4s ease-out 0s normal none infinite opacity;
    }
  }
  
  .visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:40px;   
  }
  
  p {
    display:inline;
    float:left;
    margin:0;
  }
  
  .ul {
    margin-top:0;
    padding-left:110px;
    text-align:left;
    list-style:none;
    animation:6s linear 0s normal none infinite change;
    -webkit-animation:6s linear 0s normal none infinite change;
    -moz-animation:6s linear 0s normal none infinite change;
    -o-animation:6s linear 0s normal none infinite change;
  }
  
  .ul li {
    line-height:40px;
    margin:0;
  }
  
  @-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  @keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
  }
  @keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
  }
  .custom-shape-divider-bottom-1671614848 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671614848 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1671614848 .shape-fill {
    fill: #FFFFFF;
}
/* Welcome */

.Title_Welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Title_Welcome h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Chivo Mono', monospace;
    color:#16425B;
}
/* Hikes List */
.hike_list_ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hike_list_li{
    list-style: none;
    border: 2px solid #16425B;
    border-radius: 5px;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}
.hike_list_li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.hike_list{
    text-decoration: none;
    width: 50%;
}
.logo{
    padding-right: 30px;
    padding-left: 30px;
    background-color: #16425B;
    border-top:2px solid #16425B;
    border-left: 2px solid #16425B;
    border-bottom: 2px solid #16425B;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right:30px ;
    border-radius:5px 0px 0 5px;
}
.color{
    color:white !important;
}
.info{
    display: flex;
    flex-direction: column;
}
.name{
    font-size:20px;
    color: #16425B;
    font-family: 'Slabo 27px', serif;
}
.little_info{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 10px;
}
.distance{
    font-family: 'Chivo Mono', monospace;
    color:white;
    background-color: #FF6F59;
    padding: 7px;
    border-radius: 5px;
}
.duration{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Chivo Mono', monospace;
    color:white;
    background-color: #16425B;
    padding: 7px;
    border-radius: 5px;
}
.elevation{
    font-family: 'Chivo Mono', monospace;
    color:white;
    background-color: #FF6F59;
    padding: 7px;
    border-radius: 5px;
}
.description{
    text-align:start;
    font-family: 'Slabo 27px', serif;
    color:#16425B;
    margin-right: 10px;
}
@media (max-width:480px) {
    .hike_list_li{
        display: flex;
        flex-direction: column;
    }
    .hike_list{
        width: 80%;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description{
        width:80%;
        text-align: center;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .hike_list_li{
        display: flex;
        flex-direction: column;
    }
    .hike_list{
        width: 80%;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description{
        width:80%;
        text-align: center;
    }
}
/* Single Hike */
.single_container{
    /* background-image: 
    linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%),
    url(../images/345228.jpg); */
    /* background-color: #ffffff;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #16425B, #16425B 20px, #ffffff 20px, #ffffff 100px ); */
}
.bckblur_single{
    background-image: url("../images/bckheader.png");
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 710px;
    position: absolute;

  }
.single_hike{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height:610px;
    width: 50%;
    border-left: 2px solid #16425B;
    border-right: 2px solid #16425B;
    border-bottom: 2px solid #16425B;
    padding-top: 100px;
    background-color: white;
    position: relative;
    top:5%;
}
.blue{
    color:#16425B !important;
    font-size: 80px !important;
}

.single_title h2{
    color:#16425B;
    font-family: 'Chivo Mono', monospace;
    text-align: center;
}
.single_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #FF6F59;
    width: 100%;
    border-right: 2px solid #16425B;
    border-left: 2px solid #16425B;
}
.single_info .distance_single, .elevation_single{
    display: flex;
    align-items: center;
    font-family: 'Chivo Mono', monospace;
    color: white;
}
.single_info .duration_single{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Chivo Mono', monospace;
    color: white;
}
.description_single{
    text-align: center;
    font-size: 17px;
    font-family: 'Slabo 27px', serif;
    width: 80%;
}
.infosingle{
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:480px) {
    .single_title h2{
        color:#16425B;
        font-family: 'Chivo Mono', monospace;
        text-align: center;
        font-size: 15px;
    }
    .single_info .distance_single, .elevation_single{
        display: flex;
        align-items: center;
        font-family: 'Chivo Mono', monospace;
        color: white;
        font-size: 10px;
    }
    .single_info .duration_single{
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        font-family: 'Chivo Mono', monospace;
        color: white;
        font-size: 10px;
    }
    .infosingle{
        font-size: 35px !important;
    }
    .description_single{
        font-size: 14px;
    }
}
@media (min-width:481px) and (max-width:768px) {
 
}

  /* Login form */
  .bck_login{
    /* background-color: #16425B; */
    background-color: #ffffff;
    opacity: 1;
    /* background: repeating-linear-gradient( -45deg, #16425B, #16425B 20px, #ffffff 20px, #ffffff 100px ); */
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .bckblur_login{
    background-image: url("../images/bckheader.png");
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 610px;
    position: absolute;

  }
  .title_login{
    font-family: 'Poppins', sans-serif;
    color: #FF6F59;
    margin: 0;
  }
  .p_login{
    font-family: 'Poppins', sans-serif;
    color: #16425B;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form_login{
    border: 2px solid #16425B;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    position: relative;
    top:5%;

  }
  #username_login_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #password_login_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  #submit_login{
    width:100%;
    background-color: #FF6F59;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size:20px;
    border-radius: 5px;
    border: 2px solid #FF6F59;
  }
  #submit_login:hover{
    background-color: white;
    color:#FF6F59;
  }

  
  /* Register form */
  .bck_register{
    /* background-color: #16425B; */
    background-color: #ffffff;
    opacity: 1;
    /* background: repeating-linear-gradient( -45deg, #16425B, #16425B 20px, #ffffff 20px, #ffffff 100px ); */
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
  }
  .title_register{
    font-family: 'Poppins', sans-serif;
    color: #FF6F59;
    margin: 0;
  }
  .p_register{
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form_register{
    border: 2px solid #16425B;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
    top:5%;
  }
  #firstname_register_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #lastname_register_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #username_register_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #email_register_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #password_register_input{
    font-family: 'Slabo 27px', serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  #submit_register{
    width:100%;
    background-color: #FF6F59;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size:20px;
    border-radius: 5px;
    border:2px solid #FF6F59;
  }
  #submit_register:hover{
    background-color: white;
    color:#FF6F59;
  }
